<div class="row" style="margin-top: 100px">
  <div class="col s8 m6 offset-m3">
    <div class="card indigo">

      <form>
        <div class="card-content white-text">

          <div class="row">
            <div class="row">
              <div class="input-field col s12">
                <input ng-model="oUser.email" id="name" type="text" class="validate" value="lucans">
                <label for="name">Email</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input ng-model="oUser.password" id="password" type="password" class="validate" value="123">
                <label for="password">Password</label>
              </div>
            </div>
          </div>

        </div>

        <div class="card-action">
         <button class="waves-effect waves-light blue darken-2 btn right" type="submit" ng-click="userAuth(oUser)">Login</button>
         <button class="waves-effect waves-light blue darken-2 btn" ng-click="sendUser(oUser)">Cadastrar-se</button>
        </div>

     </form>

   </div>
 </div>
</div>