<!--   <nav class="nav-extended" ng-controller="userCtrl">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">&nbsp;&nbsp;<i class="fa fa-bars"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="blue"><a href="#Home"><b>Home</b></a></li>
        <li class="blue darken-1"><a href="#app/Work"><b>Work</b></a></li>
        <li class="blue darken-2"><a href="#app/Base"><b>Base</b></a></li>
          
          <li ng-click="userLogout(); root.user = {}"><a href="#Login"><i class="fa fa-sign-out"></i></a></li>
          <li><a href="#Login"><b>{{user.email}}</b></a></li>

      </ul>
      <ul class="side-nav" id="mobile-demo">
       <li class="blue"><a href="#Home"><b>Home</b></a></li>
        <li class="blue darken-1"><a href="#app/Work"><b>Work</b></a></li>
        <li class="blue darken-2"><a href="#app/Base"><b>Base</b></a></li>
          <li ng-click="userLogout(); root.user = {}"><a href="#Login"><i class="fa fa-sign-out"></i></a></li>
          <li><a href="#Login"><b>{{user.email}}</b></a></li>
      </ul>
  
    </div>
  </nav>
 -->
<nav class="nav-extended blue">
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars fa-sm"></i></a>
    <ul id="nav-mobile" class="hide-on-med-and-down">     
      <li class="blue"><a href="#Home"><b>Home</b></a></li>
      <li class="blue darken-1"><a href="#app/Work"><b>Work</b></a></li>
      <li class="blue darken-2"><a href="#app/Base"><b>Base</b></a></li>
      <li class="right" title="Sair" ng-click="userLogout(); root.user = {}"><a href="#Login"><i class="fa fa-sign-out"></i></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li class="blue"><a class="white-text" href="#Home"><b>Home</b></a></li>
      <li class="blue darken-1"><a class="white-text" href="#app/Work"><b>Work</b></a></li>
      <li class="blue darken-2"><a class="white-text" href="#app/Base"><b>Base</b></a></li>
    </ul>
  </div>
</nav>  


<div ui-view></div>