<div ng-controller="userCtrl">
<div class="user" ng-controller="homeCtrl" ng-init="getBases()">

  <div class="row">

    <!-- BASE -->
    <div class="row col s12 m4">

      <div class="collection blue blue darken-3 white-text" ng-click="getBases()">
        <li class="collection-header">
          <h5>            
            <a href="javascript:void(0)" class="collection-item blue darken-3 white-text"> Base
            <span class="blue new badge white-text" data-badge-caption="">Trabalho</span></i>
            </a>
          </h5> 
        </li>
      </div>

      <div class="card">
        <div class="card-content">
          <form class="row">

            <div class="input-field">

              <select class="browser-default col s2" ng-model="oBase.tipo">             
                <option value="NFE">NFE</option>
                <option value="MVC">MVC</option>
                <option value="ERP">ERP</option>
                <option value="NFCE">NFC-E</option>
              </select>
                      
              <input value="" ng-model="oBase.nome" type="text" placeholder="Titulo" class="validate col s9 offset-s1">
              
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">                      
                    <textarea ng-model="oBase.descricao" class="materialize-textarea"></textarea>
                    <label>Descrição</label>
                  </div>
                </div>
              </form>

              <button class="btn blue darken-3 col s12" type="submit" ng-click="sendBase(oBase)"><i class="fa fa-plus"></i></button>

            </div>
            
          </form>
        </div>
      </div>

  </div>  

  <div class="collection col s12 m8">
      <p class="collection-item">
        <i class="fa fa-magnificient right"></i>
          <input ng-model="search" placeholder="Pesquisar Bases" type="text">
      </p>
  </div>


  <ul class="collapsible popout col s12 m8" data-collapsible="accordion">
    <li ng-repeat="base in bases | filter:search">
      <div class="collapsible-header" ng-class="{'blue lighten-3' : base.tipo == 'ERP', 'yellow' : base.tipo == 'NFCE', 'green' : base.tipo == 'MVC'}">
      <i class="fa fa-times fa-1 right" title="Deletar" ng-click="deleteBase(base.codbase)"></i>
      <i class="fa left" ng-class="{'fa-building' : base.tipo == 'ERP', 'fa-list-alt' : base.tipo == 'NFE', 'fa-gavel' : base.tipo == 'NFCE', 'fa-shopping-cart' : base.tipo == 'MVC'}" ></i>
        {{base.nome}}
      </div>

      <div class="collapsible-body grey darken-2 white-text" ng-bind-html="base.descricao"></div>
    </li>
  </ul>

  </div>
</div>
</div>